/* Container holding the image and the text */


.date {
  position: absolute;
  left: 540px;
  top: 148px;
  font-family: "thsarabun";
  font-size: 14pt;  
  /*color: lightgray;*/
  color: black;
}
.documentNo {
  position: absolute;
  left: 160px;
  top: 148px;
  font-family: "thsarabun";
  font-size: 14pt;  
  /*color: lightgray;*/
  color: black;
}
.items {
  position: absolute;
  left: 325px;
  top: 450px;
  font-family: "thsarabun";
  font-size: 14pt;  
  /*color: lightgray;*/
  color: black;
}

.name {
  position: absolute;
  left: 119px;
  top: 325px;
  font-family: "thsarabun";
  font-size: 14pt;  
  color: black;  
}

div.address {
  position: absolute;
  left: 119px;
  top: 345px;
  width: 100%;
  font-family: "thsarabun";
  font-size: 14pt;  
  color: black;  
}

div.taxID {
  position: absolute;
  left: 119px;
  top: 365px;
  width: 100%;
  font-family: "thsarabun";
  font-size: 14pt;  
  color: black; 	
}

.amount {
  position: absolute;
  left: 635px;
  top: 450px;
  font-family: "thsarabun";
  font-size: 14pt;  
  color: black;  
}

.total {
  position: absolute;
  left: 635px;
  top: 625px;
  width: 150px;
  font-family: "thsarabun";
  font-size: 14pt;  
  color: black; 
}

.taxPercent{
  position: absolute;
  left: 590px;
  top: 647px;
  width: 20px;
  font-family: "thsarabun";
  font-size: 14pt;  
  color: black; 
}

.tax{
  position: absolute;
  left: 635px;
  top: 647px;
  width: 150px;
  font-family: "thsarabun";
  font-size: 14pt;  
  color: black; 
}

.net {
  position: absolute;
  left: 635px;
  top: 668px;
  width: 150px;
  font-family: "thsarabun";
  font-size: 14pt;  
  color: black; 	
}

.bahtChar {
  position: absolute;
  left: 220px;
  top: 693px;
  width: 100%;
  font-family: "thsarabun";
  font-size: 14pt;  
  color: black; 	
}

div.total_net_price {
  position: absolute;
  left: 678px;
  top: 844px;
  width: 30px;
  text-align: center;
  font-family: "thsarabun";
  font-size: 14pt;  
  color: black;  	
}